################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Preselection Team Selection Task/CSV_Checksum
